.maingoogleimage {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 30px;
    width: 100%;
    height: 100px;
}

.navigation {
    font-family: 'arial', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
}

.biggernavigation {
    margin: 10px;
}

#gmail {
    color: rgba(0, 0, 0, 87);
    display: flex;
    padding: 10px;
    margin-top: 3px;    
    padding-right: 5px;
}

#gmail:hover {
    text-decoration: underline;
}

#images {
    color: rgba(0, 0, 0, 87);
    display: flex;
    padding: 10px;
    margin-top: 3px;
    padding-right: 10px;
}

#images:hover {
    text-decoration: underline;
}

#waffle {
    display: flex;
    padding: 10px;
    height: 20px;
    width: 20px;
    padding-right: 20px;
}

#signin {
    display: flex;
    padding: 10px;
    margin-top: 3px;
    background-color: #2b7de9;
    border-radius: 4px;
    color: white;
    width: 70px;
    justify-content: center;
}
