.maingoogleimage {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 30px;
    width: 100%;
    height: 100px;
}

.navigation {
    font-family: 'arial', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
}

.biggernavigation {
    margin: 10px;
}

#gmail {
    color: rgba(0, 0, 0, 87);
    display: flex;
    padding: 10px;
    margin-top: 3px;    
    padding-right: 5px;
    cursor: pointer;
}

#gmail:hover {
    text-decoration: underline;
}

#images {
    color: rgba(0, 0, 0, 87);
    display: flex;
    padding: 10px;
    margin-top: 3px;
    padding-right: 10px;
    cursor: pointer;
}

#images:hover {
    text-decoration: underline;
}

#waffle {
    display: flex;
    padding: 10px;
    height: 20px;
    width: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#waffle:hover {
    background-color: lightgray;

}

#signin {
    display: flex;
    padding: 10px;
    margin-top: 3px;
    background-color: #2b7de9;
    border-radius: 4px;
    color: white;
    width: 70px;
    justify-content: center;
    cursor: pointer;
}

#signin:hover {
    background-color: #328bff;
}

.searchbarcontainer {
    display:flex;
    justify-content: center;
}

.searchbarborder {
    display: flex;
    background-color: lightgray;
    padding: 1px;
    border-radius: 50px;
    width: 30%;
    height: 40px;
}

.searchbarborder:hover {
    box-shadow:0px 0px 5px rgb(170, 165, 165);
}

.searchbar {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#magniglass {
    display: flex;
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchtype {
    display: flex;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
    width: 100%;
    background-color: transparent;
    outline: none;
}

#microphone {
    display: flex;
    width: 25px;
    height: 21.452515px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchandluckybuttoncontainer {
    display: flex;
    justify-content: center;
}

.searchandluckybutton {
    display: flex;
    flex-direction: row;
    padding-top: 28px;
}

#GoogleSearch {
    display: flex;
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#GoogleSearch:hover {
    box-shadow:0px 0px 2px rgb(170, 165, 165);
}

#ImFeelingLucky {
    display: flex;
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    font-family: arial, sans-serif;
    cursor: pointer;
    font-size: 14px;
}

#ImFeelingLucky:hover {
    box-shadow:0px 0px 2px rgb(170, 165, 165);
}

.ChineseMalayTamilcontainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ChineseMalayTamil {
    display: flex;
    font-size: small;  
}

#chinese, #malay, #tamil {
    cursor: pointer;
    color: blue;
    padding-left: 10px;
}

#chinese:hover, #malay:hover, #tamil:hover {
    text-decoration: underline;
}

.countrycontainer {
    display:flex;
    flex-direction: column;
    font-family: arial, sans-serif;
    color:rgba(0, 0, 0, 87);
    width: 100%;
    bottom: 0%;
    position:absolute;
}

.country {
    background-color: rgb(235, 235, 235);
    padding: 15px 30px;
}

.origin {
    color:rgb(153, 153, 153)
}

.line {
    background-color: rgb(224, 224, 224);
    padding: 1px;
}

.otherinfo {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
}

.belowcountryleft {
    display: flex;
    padding: 15px 30px;
    color:rgb(153, 153, 153)
}

#AABH1 {
    margin-left: 10px;
    cursor: pointer;
} 

#AABH2, #AABH3, #AABH4 {
    margin-left: 30px;
    cursor: pointer;
}

.belowcountryright {
    display: flex;
    padding: 15px 10px;
    color:rgb(153, 153, 153)
}

#PTS1, #PTS2, #PTS3 {
    margin-right: 30px;
    cursor: pointer;
}

#AABH1:hover, #AABH2:hover, #AABH3:hover, #AABH4:hover, #PTS1:hover, #PTS2:hover, #PTS3:hover {
    text-decoration: underline;
}